@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /*align text in center*/
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /*giving padding to buttons*/
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*in this we used list-style which remove bullet point from ul tag*/
ul{
  list-style: none;
}
/*in this we used text-decoration which remove underline from anchor tag i.e. hyperlink*/
a{
  text-decoration: none;
  color: #666666;
}

/*arranging the header such that they are at the top of the page in a line and giving space in between them*/
.header{
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

/*arranging the footer such that they are in a line and giving space in between them and changing background color*/
.footer{
  display: flex;
  justify-content: space-between;
  background: #eee;
}

/*since links are in unordered list tag they are place in a new line using flex arranged them in line and gave gap between those links*/
.left-links{
  display: flex;
  gap: 10px;
}

/*since links are in unordered list tag they are place in a new line using flex arranged them in line and gave gap between those links and since they are at the right side they were touching border of page thats why gave a padding there*/
.right-links{
  display: flex;
  gap: 10px;
  padding-right: 40px;
}

/*since i needed this content at the center i used flex properties and placed it in center*/
.content{
  flex: 1 1 auto;
}